name: Update check

on:
  schedule:
    - cron: "30 4 * * 0,3"
  push:
    branches:
      - main
      - master
  workflow_dispatch:
    # Allow manual triggering of the workflow

jobs:
  update:
    name: Update
    runs-on: windows-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Choco install updater
        uses: crazy-max/ghaction-chocolatey@v3
        with:
          args: install chocolatey-au wormies-au-helpers --confirm

      - name: Update
        run: |
          Set-ExecutionPolicy Bypass -Scope Process -Force
          refreshenv
          git config --global user.email "chocolatey@realdimensions.net"
          git config --global user.name "Chocolatey"
          git config --global core.safecrlf false
          .\update_all.ps1
        shell: powershell
        env:
          api_key: ${{ secrets.choco_api_key }}
          github_user_repo: ${{ github.repository }}
          github_api_key: ${{ secrets.GITHUB_TOKEN }}
          au_Push: "true"
